<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container mt-5 mb-5">
		<h2
			class="text-center text-secondary border boder-success"
			th:text="${titulo}"
		></h2>
		<a
			class="btn btn-success"
			th:href="@{/form}"
		>Agregar</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Fecha creacion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createdAt}"></td>
					<td><a
						class="btn btn-primary btn-xs"
						th:href="@{/form/}+${cliente.id}"
					>Editar</a> <a
						class="btn btn-danger btn-xs"
						th:href="@{/delete/}+${cliente.id}"
					>Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
	<script type="text/javascript">
		const btns = document.getElementsByClassName("btn-danger");
		console.info(btns);

		const botones = Array.from(btns);
		// const botones = Array.prototype.filter.call(btns, el=>el);
		console.info(botones);
		
		if(botones){			
		botones.forEach(boton => {
			boton.addEventListener("click", (evt)=>{
				if(!confirm('¿Esta seguro?')) evt.preventDefault();
			});
		});
		}
	</script>
	
</body>
</html>