<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div
				class="card-header"
				th:text="${titulo}"
			></div>
			<div class="card-body">
				<div class="row">
					<div
						th:if="${#strings.length(cliente.fotoUrl) > 0}"
						class="col-md-2"
					>
						<img
							class="img-thumbnail rounded float-left"
							th:src="@{'/uploads/' + ${cliente.fotoUrl}}"
							th:alt="${cliente.nombre}+' '+${cliente.apellido}"
						/>
					</div>
					<div class="col-md-10">
						<ul class="list-group">
							<li class="list-group-item"><b>Nombre:</b> <span
								th:text="${cliente.nombre}"
							></span></li>
							<li class="list-group-item"><b>Apellido:</b> <span
								th:text="${cliente.apellido}"
							></span></li>
							<li class="list-group-item"><b>Email:</b> <span
								th:text="${cliente.email}"
							></span></li>
							<li class="list-group-item"><b>Fecha de registro:</b> <span
								th:text="${cliente.createdAt}"
							></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>